.your-timeline-block {
	&__list {
		display: none;

		&.has-points {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			position: relative;
		}

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: 2px;
			background: #ffffff;
			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(204, 204, 204, 1) 25%,
				rgba(204, 204, 204, 1) 75%,
				rgba(255, 255, 255, 1) 100%
			);
		}
	}

	&__item {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		padding: 1rem;
		position: relative;
		z-index: 1;
	}

	&.single-layout.layout-side-left .your-timeline-block__item,
	&.alternate-layout .your-timeline-block__item:nth-child(even) {
		flex-flow: row-reverse nowrap;

		.your-timeline-block__date p {
			text-align: left;
		}

		.your-timeline-block__remove-button {
			left: inherit;
			right: 10px;
		}
	}

	&__date {
		flex: 0 0 calc(50% - 20px - 1rem);

		p {
			color: var(--your-timeline-primary-color);
			font-weight: bold;
			font-size: 1.3rem;
			font-weight: 500;
			text-align: right;
			margin: 0.3rem 0;
		}
	}

	&__icon {
		flex: 0 0 40px;
		margin: 0 1rem;
		height: 40px;
		border-radius: 50%;
		background-color: #f2f2f2;
		border: 1px solid #ccc;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content {
		flex: 1;
		background-color: #f2f2f2;
		padding: 1rem;
		border-radius: 8px;
	}

	&__title h2 {
		color: var(--your-timeline-heading-color);
		font-size: 1.2rem;
		font-weight: 500;
		margin: 0 0 0.8rem 0;
	}

	&__description {
		color: var(--your-timeline-description-color);
		font-size: 1rem;
		margin-top: 0.5rem;
	}

	&.horizontal-layout {
		.your-timeline-block {
			&__slider-container {
				display: flex;
				align-items: center;
			}

			&__nav-button {
				flex-shrink: 0;
			}

			&__slider {
				overflow: hidden;
				width: 100%;
				position: relative;
				min-height: 200px;
				transition: height 0.3s ease; // smooth height change
			}

			&__slide {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				transition: 0.3s;
				box-sizing: border-box;
			}

			&__list {
				display: flex;
				padding: 2px;

				&::before {
					display: none; // Hide the vertical line in horizontal layout
				}
			}

			&__item {
				flex-direction: column;
				align-items: center;
				flex: 1 1 0%;
				padding: 15px;
				position: relative;
			}

			&__date {
				flex: none;
				align-items: center;
			}

			&__icon-wrap {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 10px 0 20px;
				width: 100%;

				&:before {
					content: "";
					height: 2px;
					background-color: #ccc;
					position: absolute;
					top: 50%;
					left: -15px;
					right: -15px;
					transform: translateY(-50%);
				}
			}

			&__icon {
				width: 40px;
				height: 40px;
				position: relative;
			}

			&__remove-button {
				top: 15px;
				left: 5px;
				border-radius: 5px;
			}

			&__controls {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 15px;
			}

			&__add-button {
				margin-left: auto;
			}

			&__pagination {
				font-size: "14px";
				color: "#666";
			}
		}
	}
}
